{% extends 'base.html.twig' %}

{% block title %}Über uns{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('styles/abouts.css') }}">
{% endblock %}

{% block body %}
<h1>Über GymBuddys</h1>
<div class="wrapper">
<p>Willkommen bei Gymbuddys, </br>
dem Ergebnis der gemeinsamen Leidenschaft zweier Sportler, Fabian und Korbinian. Die Geschichte begann mit einem einfachen Ziel: unseren Trainingsfortschritt auf ein neues Level zu heben. Als engagierte Fitness-Enthusiasten stießen wir auf die Herausforderung, unsere Trainingseinheiten effektiv zu verfolgen und zu optimieren.

Wir erkannten, dass die existierenden Lösungen auf dem Markt unsere Bedürfnisse nicht vollständig abdeckten. Also beschlossen wir, unsere eigene Plattform zu schaffen.

Mit geballter Energie und unserem gemeinsamen Fachwissen machten wir uns ans Werk. Wir kombinierten unsere Erfahrungen aus dem Fitnessbereich mit technischem Know-how und erschufen so Gymbuddys - ein Ort, an dem Fitnessbegeisterte aller Erfahrungsstufen zusammenkommen können, um ihre Ziele zu verfolgen und zu erreichen.

Unser Ziel bei Gymbuddys ist es, eine inspirierende Umgebung zu schaffen, in der jeder seinen persönlichen Fitnessweg gehen kann. Egal, ob du gerade erst anfängst oder schon ein erfahrener Athlet bist, hier findest du die Werkzeuge und die Unterstützung, die du brauchst, um erfolgreich zu sein.

Trete noch heute der Gymbuddys-Community bei und entdecke, wie wir gemeinsam jeden Schritt deiner Fitnessreise feiern können.</p>

<p class="center">Eure GymBuddys!</p>
<img class="logo" src="{{ asset('images/Logo.png') }}"> </img>
</div>
{% endblock %}
