{% extends 'base.html.twig' %}

{% block title %}Willkommen{% endblock %}

{% block body %}
{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
{% endblock %}
<h1>Willkomen bei GymBuddys!</h1>
<div class="example-wrapper">
    <img class="logo" src="{{ asset('images/Logo.png') }}"> </img>
    <p> Auf unserer Website können Sie ihren Trainingsfortschritt tracken, indem Sie Pläne und zugehörige Übungen eintragen.</br>
    Sport ist individuell, aber bei uns können alle ihren Trainingsfortschritt verfolgen. Egal ob klassisches Bodybuilding, </br>
    Calisthenics, oder HIT-Training, jede Sportart die auf dem Prinzip von Sätzen, Wiederholungen und gegebenenfalls Gewicht aufbaut, kann erfasst werden.</br>
    Viel Spaß beim Verfolgen des eigenen Trainings!</br>
    GymBuddys!
</div>
{% endblock %}
