.plan-list {
    list-style-type: none;
    padding: 0;
}

.plan-list-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.plan-list-item:hover {
    background-color: #f0f0f0;
}
a {
    text-decoration: none;
    color: black;
}
.btn-wrapper{
    text-align: center;
    padding: 16px 24px;
}
.btn-ne{
    width: 175px;
    height: 35px;
    box-sizing: border-box;
    touch-action: manipulation;
    font-size: large;
    border: 1px solid black;
    border-radius: 1px;
    background-color: #404040;
    color: white;
}
.spacer {
    height: 25px;
}
.add-values{
    color: blue;
}