<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GymBuddys!</title>
    <!-- Add any CSS or meta tags you need -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if app.user %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/create_trainingsplan">Neuer Plan</a></li>
                <li><a href={{ path('app_trainingsplaene', {'id': app.user.id}) }}>Meine Pläne</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>